<!DOCTYPE html>
<html lang="en" ng-app="Blog">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  

  <title>Berza poslova</title>

  <!-- Bootstrap core CSS -->
  <link href="../assets/css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="../assets/css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css">
  <!-- Page Specific CSS -->
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
</head>

<body>

<div id="wrapper">

<!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Berza poslova</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Jezik <b class="caret"></b></a>
          <ul class="dropdown-menu">


            <li><a href="?locale=bs#" data-no-turbolink="true">Bosanski</a></li>
            <li><a href="?locale=en#" data-no-turbolink="true">Engleski</a></li>
            <li><a href="?locale=hr#" data-no-turbolink="true">Hrvatski</a></li>
          </ul>
        </li>
        <li>  <a href="#">  Home </a> </li>
        <li>  <a href="#">  About </a> </li>
        <li>  <a href="#">  Contact </a> </li>


      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
        <% if current_user %>
        <li class="dropdown user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to (t "nav.profile"),current_user%></li>
            <li><a href="#"> <%= link_to (t "user.edit"), edit_user_path(current_user.id) %></a></li>
            <li class="divider"></li>
            <li><a href="#"></i> <%= link_to (t "nav.logout"), log_out_path %></a></li>
          </ul>
        </li>
        <% else%>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Registracija <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li> <a href="#/user/new">Korisnik</a></li>
                <li> <a href="#/employer/new">Poslodavac</a></li>
              </ul>
            </li>
            <li class="dropdown user-dropdown">
              <%= link_to 'Login', log_in_path %>
            </li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<div id="page-wrapper">








      <div ng-view>      </div>

  <% if current_user %> neko je logovan
      <% if current_user.email=="admin@poso.ba"%> admin je logovan <%end%>
  <% else %> nije niko logovan
  <% end %>


</div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->

</body>
</html>
