<!DOCTYPE html>
<html>
<head>
  <title>Berza poslova</title>
  <%= javascript_include_tag "application", controller_name %>
  <%= javascript_include_tag "angular-translate.min" %>
  <%= javascript_include_tag "angular-translate.js"%>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<%= yield :scripts %>
</body>
</html>
